<dal name="riverdemo">
	<databaseSets>
		<databaseSet name="ttlorderbookingdb_W" provider="mySqlProvider">
            <add name="ttlorderbookingdb_W" databaseType="Master" sharding="" connectionString="ttlorderbookingdb_W"/>   
		</databaseSet>
		<databaseSet name="pkgdemoDB_W" provider="mySqlProvider">
            <add name="pkgdemoDB_W" databaseType="Master" sharding="" connectionString="pkgdemoDB_W"/>   
		</databaseSet>
	</databaseSets>
	<LogListener>
		<logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
	</LogListener>
	<ConnectionLocator>
		<settings>
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
	</TaskFactory>
</dal>