<?xml version="1.0" encoding="UTF-8"?>

<connectionStrings Version="dev">
	<add name="pkgdemoDB_W" connectionString="Server=pkgdemo.mysql.db.fat.qa.nt.ctripcorp.com;port=55111;UID=us_test_szg;password=1qaz2wsx#EDC$RFV;database=pkgdemodb;" providerName="Arch.Data.MySqlProvider"/>
	<add name="ttlorderbookingdb_W" connectionString="Server=pub.mysql.db.dev.sh.ctripcorp.com;port=28747;UID=uws_dbticket;password=kgd8v5CenyoMjtg1uwzj;database=ttlorderbookingdb;" providerName="Arch.Data.MySqlProvider"/>
</connectionStrings>